<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225488137090-s06booq0159kie8u37b873lq9c7ueo45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225488137090-s06booq0159kie8u37b873lq9c7ueo45</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Maet6lbTbr_F9ZYKW2cAuOGSrCuDgaM</string>
	<key>GCM_SENDER_ID</key>
	<string>225488137090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.hu.jiac.EducationalAdminSystem</string>
	<key>PROJECT_ID</key>
	<string>educationaladminsystem</string>
	<key>STORAGE_BUCKET</key>
	<string>educationaladminsystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225488137090:ios:299381deff8b6e7cc6fd9b</string>
</dict>
</plist>